/msgQ_B/dist/
/msgQ_B/build/
/msgQ_A/dist/
/msgQ_A/build/
/proj2RUN/build/
/proj2RUN/dist/
/reciever1/dist/
/reciever1/build/
/sender997/build/
/sender997/dist/
/sender251/build/
/sender251/dist/
/reciever2/dist/
/reciever2/build/
/send257/dist/
/send257/build/
/sender257/build/
/sender257/dist/